* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align:center;
}

.instruction p{
    text-align: center;
    margin-top: 25em;
}

.start_button{
    position: absolute;
    top: 50%;
    left: 45%;
}

.start_button button{
    font-size: 20px;
}

.time-section{
    margin-left: 80%;
    
}

.highscore{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;

}