* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;

}

h1{
    text-align:center;
}

.instruction p{
    text-align: center;
    margin-top: 3em;
}

.start_button{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.start_button button{
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;

}

.time-section{
    margin-left: 80%;
    
}

.highscore{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;

}

.question1{
    width: 600px;
    
}